.container{
    position: relative;
    width: 15em;
    margin: 0 0.2em;
    float: left;


}

.pic{
    margin-top: 1em;
    width: 100%;
    
}
.close{
    position: absolute;
    width: fit-content;
    height: 13%;
    right: 17%;
}

.edit{
    position: absolute;
    width: fit-content;
    height: 13%;
    left: 0%;
}